---
layout: default
category: Activity Agenda
title: Taipei Forum
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<div style="height:200px;text-align:center">
				<h1>2019 APEC Taipei Forum</h1>
				<div style="font-size: 0.9em; font-weight: bold;">
				Regional Industry-Academia Collaboration for Talent Development: An Exchange of Skills Training, Internships, and Jobs
				</div>
				<div style="font-size: 0.8em;">
				16th September 2019<br>
				2F, The Lecture Hall, GIS Taipei Tech Convention Center
				</div>
			</div>

			<table style="width: 100%; font-size: 0.9em;">
				<thead>
					<tr>
						<th>TIME</th>
						<th>ITME</th>
						<th>TOPIC &amp; SPEAKER</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>8:30–9:00</td>
						<td colspan="2">Registration</td>
					</tr>
					<tr>
						<td>9:00–9:05</td>
						<td colspan="2">Opening Performance</td>
					</tr>
					<tr>
						<td>9:05-9:35</td>
						<td>Opening Remarks</td>
						<td>
							<ul>
								<li>Prof. Dong Sun, PARK<br />
								Lead Shepherd, APEC Human Resources Development Working Group</li>
								<li>National Taipei University of Technology</li>
								<li>Ministry of Education</li>
								<li>Ministry of Foreign Affairs</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>9:35–9:40</td>
						<td colspan="2">Group Photo</td>
					</tr>
					<tr>
						<td>9:40–10:40</td>
						<td>Panel Session 1</td>
						<td>
							<ul>
							<b>Global Talent Development: Digital Economy, Women Participation, and Industry-Academia Collaboration</b><br>
							<!-- <li><b>Maria Gordeeva, Russia</b><br>
							International Tourism and Hospitality Management</li>
							<li><b>Kuei-Yen Liao, Ministry of Labor/HRDWG CBN</b><br>
							APEC Skills Development Capacity Building Alliance (ASD-CBA): Fostering Connected APEC Through Upskilling</li>
							<li><b>Benito G. Reys, Philippines</b><br>
							Industry-Academe linkages bridge employment gap (Philippines)</li>
							<li><b>Su cheng Lee, Canada</b><br>
							Education in action: High talent mobility and employability  </li>
							<li><b>Graham Hart, Australia</b><br>
							Introducing vocational skills at secondary school level</li> -->
							</ul>
						</td>
					</tr>
					<tr>
						<td>10:40–11:00</td>
						<td colspan="2">Tea Break</td>
					</tr>
					<tr>
						<td>11:00–12:00</td>
						<td>Panel Session 2</td>
						<td>
							<b>International Industry-Academia Collaboration in Chinese Taipei</b>
							<ul>
								<li>Yuanpei University of Medical Technology</li>
								<li>Central Taiwan University of Sciences and Technology</li>
								<li>National Taipei University of Technology</li>
							</ul>
							<!-- <b>1. Diploma Program</b>
							<ul>
							<li><b>National Pingtung University of Science and Technology:</b><br>
							International Bachelor Degree in Tropical Agriculture</li>
							<li><b>National Chin-Yi University of Technology:</b><br>
							Fall Semester International Bachelor Program of Industry-university Cooperation, 4-years Bachelor Degree, Department of Mechanical Engineering</li>
							</ul>
							<b>2. Short-tern Program：</b>
							<ul>
							<li><b>National Kaohsiung University of Science and Technology:</b><br>
							International Master of Finance Scholarship Program—A Joint Program between the Cathay United Bank and the NKUST</li>
							<li><b>Nan Kai University of Technology:</b><br>
							Short-term Professional and Technical Talent Training Class Form Nan-Kai University of Technology</li>
							</ul>
							<b>3. Q&A</b> -->
						</td>
					</tr>
					<tr>
						<td>12:00-13:30</td>
						<td colspan="2">Luncheon</td>
					</tr>
					<tr>
						<td>13:30-14:20</td>
						<td>Keynote Speech</td>
						<td>
							<b>Fostering APEC Women in STEM: Gap Analysis and Needs Assessment for APEC Female Physicians’ Leadership Development and the Implications for Capacity-Building in the Healthcare Sector</b>
							<ul>
								<li>Prof. Pi-Chi Han<br>
								National Kaohsiung Normal University (NKNU)</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>14:20-14:30</td>
						<td colspan="2">Closing Remarks</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
