---
layout: default
category: Activity Agenda
title: Tour Agenda
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<table style="width: 100%; font-size: 0.9em;">
				<thead>
					<tr style="text-align: center; color: #FFFFFF;">
						<td style="background-color: #EB7D3C; width: 33%;">DAY 1<br><span style="font-size: 0.8em;">June 5, 2018</span></td>
						<td style="background-color: #548039; width: 33%;">DAY 2<br><span style="font-size: 0.8em;">June 6, 2018</span></td>
						<td style="background-color: #3275B3; width: 33%;">DAY 3<br><span style="font-size: 0.8em;">June 7, 2018</span></td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><span style="color: #EB7D3C;">2018 APEC Forum</span></td>
						<td><span style="color: #548039;">2018 APEC Tour in Kaohsiung</span></td>
						<td><span style="color: #3275B3;">2018 APEC Tour in Taipei</span></td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">8:30–9:00</span><br>Registration</td>
						<td rowspan="3"><span style="color: #548039;">7:50–10:30</span><br>Head for Kaohsiung</td>
						<td><span style="color: #3275B3;">8:30</span><br>Gathering</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">9:00–9:40</span><br>Opening Remark</td>
						<td><span style="color: #3275B3;">9:30–10:30</span><br>Academic Visit 3<br>Field: Tourism &amp; Service</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">9:40–10:40</span><br>Panel Session 1</td>
						<td><span style="color: #3275B3;">10:30–11:30</span><br>APEC Delegation Experience Sharing</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">11:00–12:20</span><br>Panel Session 2</td>
						<td rowspan="2"><span style="color: #548039;">10:30–11:30</span><br>Academic Visit 3<br>Field: Engineering</td>
						<td><span style="color: #3275B3;">12:30–14:00</span><br>Farewell Banquet at Silk Palace</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">12:20–12:30</span><br>Closing Remark</td>
						<td rowspan="3"><span style="color: #3275B3;">14:00–15:30</span><br>Cultural Visit 2<br>Guide tour for National Palace Museum</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">12:30–14:00</span><br>Luncheon</td>
						<td><span style="color: #548039;">12:00–14:00</span><br>Luncheon</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">14:00–16:30</span><br>Academic Visit 1<br>Field: Healthcare</td>
						<td><span style="color: #548039;">15:00–16:00</span><br>Industrial Visit<br>HCP Pump</td>
					</tr>
					<tr>
						<td> </td>
						<td><span style="color: #548039;">16:40–17:45</span><br>Cultural Visit 1<br>The Pier-2 Art Center</td>
						<td><span style="color: #3275B3;">15:30–16:30</span><br>Free Time in National Palace Museum</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">18:00–</span><br>Hosted Dinner</td>
						<td><span style="color: #548039;">19:00–</span><br>Head for Taipei &amp; Dinner</td>
						<td><span style="color: #3275B3;">17:00–</span><br>Free Time</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
