---
layout: default
category: Activity Agenda
title: Tour Agenda
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<table style="width: 100%; font-size: 0.9em;">
				<thead>
					<tr style="text-align: center; color: #FFFFFF;">
						<td style="background-color: #EB7D3C; width: 33%;">DAY 1<br><span style="font-size: 0.8em;">September 16, 2019</span></td>
						<td style="background-color: #548039; width: 33%;">DAY 2<br><span style="font-size: 0.8em;">September 17, 2019</span></td>
						<td style="background-color: #3275B3; width: 33%;">DAY 3<br><span style="font-size: 0.8em;">September 18, 2019</span></td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td style="text-align: center;"><span style="color: #EB7D3C;"><b>2019 APEC Forum</b></span></td>
						<td style="text-align: center;"><span style="color: #548039;"><b>2019 APEC Tour in Pingtung</b></span></td>
						<td style="text-align: center;"><span style="color: #3275B3;"><b>2019 APEC Tour in Taipei</b></span></td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">8:30–9:00</span><br>Registration</td>
						<td rowspan="6"><span style="color: #548039;">7:50-12:15</span><br>Head for Pingtung</td>
						<td rowspan="5"><span style="color: #3275B3;">8:30-11:00</span><br><b>Academic Visit 3</b><br>Field: Healthcare</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">9:00-9:35</span><br>Opening</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">9:35-9:40</span><br>Group Photo</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">9:40-10:40</span><br>Panel Session 1</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">10:40-11:00</span><br>Tea Break</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">11:00-12:00</span><br>Panel Session 2</td>
						<td><span style="color: #3275B3;">11:00-12:00</span><br>APEC Delegation Experience Sharing</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">12:00-13:30</span><br>Lunch</td>
						<td><span style="color: #548039;">12:15-13:30</span><br>Lunch</td>
						<td><span style="color: #3275B3;">12:00-13:30</span><br>Lunch</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">13:30-14:20</span><br>Keynote Speech</td>
						<td><span style="color: #548039;">14:00-16:00</span><br><b>Academic & Industry Visit 2</b><br>Field: Agriculture</td>
						<td rowspan="3"><span style="color: #3275B3;">14:00-18:00</span><br><b>Cultural Visit 2</b><br>National Palace Museum</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">14:20-14:30</span><br>Closing</td>
						<td><span style="color: #548039;">16:10-17:30</span><br>Head for Kaohsiung</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">14:30-17:30</span><br><b>Industry Visit 1</b><br>Field: Information Technology</td>
						<td><span style="color: #548039;">17:30-18:30</span><br><b>Cultural Visit 1</b><br>The British Consulate at Takow</td>
					</tr>
					<tr>
						<td><span style="color: #EB7D3C;">18:00-20:00</span><br>Hosted Dinner</td>
						<td><span style="color: #548039;">19:00-</span><br>Head for Taipei & Dinner</td>
						<td><span style="color: #3275B3;">18:00-</span><br>Free Time</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
