---
layout: default
category: Activity Agenda
title: Venue
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>Venue</h1>

			<p class="text-center"><img src="{{ site.img_dir | absolute_url }}venue_gis_exterior.jpg" style="width: 100%; height: auto;"></p>
			<p class="text-center">GIS Taipei Tech Convention Center<br>2F, The Lecture Hall</p>
			<p>&nbsp;</p>
			<p><img src="{{ site.img_dir | absolute_url }}venus_gis_interior.jpg"></p>
			<p>Location: 1, Sec. 3 Zhongxiao E. Rd., Taipei 10608, Taiwan</p>
			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
