---
layout: default
category: Activity Agenda
title: Venue
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>Venue</h1>

			<p class="text-center"><img src="{{ site.img_dir | absolute_url }}palaisdechine_logo.jpg" style="width: 200px; height: auto;"></p>
			<p class="text-center">Palais de Chine</p>
			<p>The French name "Palais de Chine" refers to a palace (Palais) vs China (Chine), which is itself a mix of Chinese and Western cultures. The design and decorations of Palais de Chine further reveal various kinds of mix & match design style. Whether it is traditional, modern, simple or luxurious style, all are perfectly blended together at Palais de Chine.</p>
			<p>&nbsp;</p>
			<p><img src="{{ site.img_dir | absolute_url }}palaisdechine_room_descartes_rousseau.jpg"></p>
			<p><b>Room Descartes & Rousseau</b> equipped with high-tech facilities. The glass walls provide diffused natural lighting that creates a vibrant atmosphere in the rooms. All rooms can be customized for various purposes such as meeting, seminar, workshop and press conference.</p>
			<p>Location: 5F., No. 3, Section 1, Chengde Road, Taipei 103 , Taiwan</p>
			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
