---
layout: default
category: Photos & Videos
title: 2017 Photos
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>2017 Taipei Forum</h1>

			<h2>論壇</h2>
			<div class="photos openBox1 clearfix">
				<a href="javascript:void(0);" name="8-1"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-1.jpg"></a>
				<a href="javascript:void(0);" name="8-2"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-2.jpg"></a>
				<a href="javascript:void(0);" name="8-3"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-3.jpg"></a>
				<a href="javascript:void(0);" name="8-4"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-4.jpg"></a>
				<a href="javascript:void(0);" name="8-5"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-5.jpg"></a>
				<a href="javascript:void(0);" name="8-6"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-6.jpg"></a>
				<a href="javascript:void(0);" name="8-7"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-7.jpg"></a>
				<a href="javascript:void(0);" name="8-8"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-8.jpg"></a>
				<a href="javascript:void(0);" name="8-9"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-9.jpg"></a>
				<a href="javascript:void(0);" name="8-10"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-10.jpg"></a>

				<a href="javascript:void(0);" name="8-11"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-11.jpg"></a>
				<a href="javascript:void(0);" name="8-12"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-12.jpg"></a>
				<a href="javascript:void(0);" name="8-13"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-13.jpg"></a>
				<a href="javascript:void(0);" name="8-14"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-14.jpg"></a>
				<a href="javascript:void(0);" name="8-15"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-15.jpg"></a>
				<a href="javascript:void(0);" name="8-16"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-16.jpg"></a>
				<a href="javascript:void(0);" name="8-17"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-17.jpg"></a>
				<a href="javascript:void(0);" name="8-18"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-18.jpg"></a>
				<a href="javascript:void(0);" name="8-19"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-19.jpg"></a>
				<a href="javascript:void(0);" name="8-20"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-20.jpg"></a>

				<a href="javascript:void(0);" name="8-21"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-21.jpg"></a>
				<a href="javascript:void(0);" name="8-22"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-22.jpg"></a>
				<a href="javascript:void(0);" name="8-23"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-23.jpg"></a>
				<a href="javascript:void(0);" name="8-24"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-24.jpg"></a>
				<a href="javascript:void(0);" name="8-25"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-25.jpg"></a>
				<a href="javascript:void(0);" name="8-26"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-26.jpg"></a>
				<a href="javascript:void(0);" name="8-27"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-27.jpg"></a>
				<a href="javascript:void(0);" name="8-28"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-28.jpg"></a>
				<a href="javascript:void(0);" name="8-29"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-29.jpg"></a>
				<a href="javascript:void(0);" name="8-30"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-30.jpg"></a>

				<a href="javascript:void(0);" name="8-31"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-31.jpg"></a>
				<a href="javascript:void(0);" name="8-32"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-32.jpg"></a>
				<a href="javascript:void(0);" name="8-33"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-33.jpg"></a>
				<a href="javascript:void(0);" name="8-34"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-34.jpg"></a>
				<a href="javascript:void(0);" name="8-35"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-35.jpg"></a>
				<a href="javascript:void(0);" name="8-36"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-36.jpg"></a>
				<a href="javascript:void(0);" name="8-37"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-37.jpg"></a>
				<a href="javascript:void(0);" name="8-38"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-38.jpg"></a>
				<a href="javascript:void(0);" name="8-39"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-39.jpg"></a>
				<a href="javascript:void(0);" name="8-40"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-40.jpg"></a>

				<a href="javascript:void(0);" name="8-41"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-41.jpg"></a>
				<a href="javascript:void(0);" name="8-42"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-42.jpg"></a>
				<a href="javascript:void(0);" name="8-43"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-43.jpg"></a>
				<a href="javascript:void(0);" name="8-44"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-44.jpg"></a>
				<a href="javascript:void(0);" name="8-45"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-45.jpg"></a>
				<a href="javascript:void(0);" name="8-46"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-46.jpg"></a>
				<a href="javascript:void(0);" name="8-47"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-47.jpg"></a>
				<a href="javascript:void(0);" name="8-48"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-48.jpg"></a>
				<a href="javascript:void(0);" name="8-49"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-49.jpg"></a>
				<a href="javascript:void(0);" name="8-50"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-50.jpg"></a>

				<a href="javascript:void(0);" name="8-51"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo8-51.jpg"></a>
			</div>

			<h2>2017 CTE VISITS</h2>
			<div class="photos openBox2 clearfix">
				<a href="javascript:void(0);" name="9-1"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-1.jpg"></a>
				<a href="javascript:void(0);" name="9-2"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-2.jpg"></a>
				<a href="javascript:void(0);" name="9-3"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-3.jpg"></a>
				<a href="javascript:void(0);" name="9-4"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-4.jpg"></a>
				<a href="javascript:void(0);" name="9-5"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-5.jpg"></a>
				<a href="javascript:void(0);" name="9-6"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-6.jpg"></a>
				<a href="javascript:void(0);" name="9-7"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-7.jpg"></a>
				<a href="javascript:void(0);" name="9-8"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-8.jpg"></a>
				<a href="javascript:void(0);" name="9-9"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-9.jpg"></a>
				<a href="javascript:void(0);" name="9-10"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-10.jpg"></a>

				<a href="javascript:void(0);" name="9-11"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-11.jpg"></a>
				<a href="javascript:void(0);" name="9-12"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-12.jpg"></a>
				<a href="javascript:void(0);" name="9-13"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-13.jpg"></a>
				<a href="javascript:void(0);" name="9-14"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-14.jpg"></a>
				<a href="javascript:void(0);" name="9-15"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-15.jpg"></a>
				<a href="javascript:void(0);" name="9-16"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-16.jpg"></a>
				<a href="javascript:void(0);" name="9-17"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-17.jpg"></a>
				<a href="javascript:void(0);" name="9-18"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-18.jpg"></a>
				<a href="javascript:void(0);" name="9-19"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-19.jpg"></a>
				<a href="javascript:void(0);" name="9-20"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-20.jpg"></a>

				<a href="javascript:void(0);" name="9-21"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-21.jpg"></a>
				<a href="javascript:void(0);" name="9-22"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-22.jpg"></a>
				<a href="javascript:void(0);" name="9-23"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-23.jpg"></a>
				<a href="javascript:void(0);" name="9-24"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-24.jpg"></a>
				<a href="javascript:void(0);" name="9-25"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-25.jpg"></a>
				<a href="javascript:void(0);" name="9-26"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-26.jpg"></a>
				<a href="javascript:void(0);" name="9-27"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-27.jpg"></a>
				<a href="javascript:void(0);" name="9-28"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-28.jpg"></a>
				<a href="javascript:void(0);" name="9-29"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-29.jpg"></a>
				<a href="javascript:void(0);" name="9-30"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-30.jpg"></a>

				<a href="javascript:void(0);" name="9-31"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-31.jpg"></a>
				<a href="javascript:void(0);" name="9-32"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-32.jpg"></a>
				<a href="javascript:void(0);" name="9-33"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-33.jpg"></a>
				<a href="javascript:void(0);" name="9-34"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-34.jpg"></a>
				<a href="javascript:void(0);" name="9-35"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-35.jpg"></a>
				<a href="javascript:void(0);" name="9-36"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-36.jpg"></a>
				<a href="javascript:void(0);" name="9-37"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-37.jpg"></a>
				<a href="javascript:void(0);" name="9-38"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-38.jpg"></a>
				<a href="javascript:void(0);" name="9-39"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-39.jpg"></a>
				<a href="javascript:void(0);" name="9-40"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-40.jpg"></a>

				<a href="javascript:void(0);" name="9-41"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-41.jpg"></a>
				<a href="javascript:void(0);" name="9-42"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-42.jpg"></a>
				<a href="javascript:void(0);" name="9-43"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-43.jpg"></a>
				<a href="javascript:void(0);" name="9-44"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-44.jpg"></a>
				<a href="javascript:void(0);" name="9-45"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-45.jpg"></a>
				<a href="javascript:void(0);" name="9-46"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-46.jpg"></a>
				<a href="javascript:void(0);" name="9-47"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-47.jpg"></a>
				<a href="javascript:void(0);" name="9-48"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-48.jpg"></a>
				<a href="javascript:void(0);" name="9-49"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo9-49.jpg"></a>
			</div>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
