---
layout: default
category: Photos & Videos
title: 2018 Photos
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>2018 Photos</h1>

			<h2>2018 Taipei Forum</h2>
			<div class="photos openBox1 clearfix">
				<a href="javascript:void(0);" name="10-1"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-1.jpg"></a>
				<a href="javascript:void(0);" name="10-2"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-2.jpg"></a>
				<a href="javascript:void(0);" name="10-3"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-3.jpg"></a>
				<a href="javascript:void(0);" name="10-4"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-4.jpg"></a>
				<a href="javascript:void(0);" name="10-5"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-5.jpg"></a>
				<a href="javascript:void(0);" name="10-6"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-6.jpg"></a>
				<a href="javascript:void(0);" name="10-7"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-7.jpg"></a>
				<a href="javascript:void(0);" name="10-8"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-8.jpg"></a>
				<a href="javascript:void(0);" name="10-9"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-9.jpg"></a>
				<a href="javascript:void(0);" name="10-10"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-10.jpg"></a>

				<a href="javascript:void(0);" name="10-11"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-11.jpg"></a>
				<a href="javascript:void(0);" name="10-12"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-12.jpg"></a>
				<a href="javascript:void(0);" name="10-13"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-13.jpg"></a>
				<a href="javascript:void(0);" name="10-14"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-14.jpg"></a>
				<a href="javascript:void(0);" name="10-15"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-15.jpg"></a>
				<a href="javascript:void(0);" name="10-16"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-16.jpg"></a>
				<a href="javascript:void(0);" name="10-17"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-17.jpg"></a>
				<a href="javascript:void(0);" name="10-18"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-18.jpg"></a>
				<a href="javascript:void(0);" name="10-19"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-19.jpg"></a>
				<a href="javascript:void(0);" name="10-20"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-20.jpg"></a>

				<a href="javascript:void(0);" name="10-21"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-21.jpg"></a>
				<a href="javascript:void(0);" name="10-22"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-22.jpg"></a>
				<a href="javascript:void(0);" name="10-23"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-23.jpg"></a>
				<a href="javascript:void(0);" name="10-24"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-24.jpg"></a>
				<a href="javascript:void(0);" name="10-25"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-25.jpg"></a>
				<a href="javascript:void(0);" name="10-26"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-26.jpg"></a>
				<a href="javascript:void(0);" name="10-27"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-27.jpg"></a>
			</div>

			<h2>2018 CTE VISITS</h2>
			<div class="photos openBox2 clearfix">
				<a href="javascript:void(0);" name="10-28"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-28.jpg"></a>
				<a href="javascript:void(0);" name="10-29"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-29.jpg"></a>
				<a href="javascript:void(0);" name="10-30"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-30.jpg"></a>
				<a href="javascript:void(0);" name="10-31"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-31.jpg"></a>
				<a href="javascript:void(0);" name="10-32"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-32.jpg"></a>
				<a href="javascript:void(0);" name="10-33"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-33.jpg"></a>
				<a href="javascript:void(0);" name="10-34"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-34.jpg"></a>
				<a href="javascript:void(0);" name="10-35"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-35.jpg"></a>
				<a href="javascript:void(0);" name="10-36"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-36.jpg"></a>
				<a href="javascript:void(0);" name="10-37"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-37.jpg"></a>

				<a href="javascript:void(0);" name="10-38"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-38.jpg"></a>
				<a href="javascript:void(0);" name="10-39"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-39.jpg"></a>
				<a href="javascript:void(0);" name="10-40"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-40.jpg"></a>
				<a href="javascript:void(0);" name="10-41"><img src="{{ site.img_dir | absolute_url }}photos-small/small-photo10-41.jpg"></a>
			</div>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
