---
layout: default
category: Contact Us
title: Contact Us
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>Contact Us</h1>
			<!--
			<p>國立臺北科技大學 國際事務處<br><small>National Taipei University of Technology, Office of International Affairs</small></p>
			-->
			<p>教育部技職司提升臺灣技職教育國際化工作小組<br><small>Working Group to Internationalize Technological / Vocational Education in Taiwan, MOE</small></p>
			<hr>
			<p>張淑婷 Zoe Chang<br><small>Tel : 02-2771-2171 #3907<br></small>E-mail : <a href="mailto:zoe329@mail.ntut.edu.tw">zoe329@mail.ntut.edu.tw</a></p>
			<p>呂洛頡 Rae Lu<br><small>Tel : 02-2771-2171 #3909<br></small>E-mail : <a href="mailto:raelu@ntut.edu.tw">raelu@ntut.edu.tw</a></p>
			<p>劉亭均 Tiresias Liu<br><small>Tel : 02-2771-2171 #3908<br></small>E-mail : <a href="mailto:tiresias.liu@ntut.edu.tw">Tiresias.liu@ntut.edu.tw</a></p>
			<p>&nbsp;</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
