---
layout: default
category: Industry-Acaemia Cooperation
title: Best Practices
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>Best Practices</h1>

			<ol>
				<li><a href="/assets/document/Best-Practices-1.pdf" target="_blank">Chang Gung University of Science and Technology-Geriatric Care</a></li>
				<li><a href="/assets/document/Best-Practices-2.pdf" target="_blank">Chaoyang University of Technology-Geriatric Care Services</a></li>
				<li><a href="/assets/document/Best-Practices-3.pdf" target="_blank">Lunghwa University of Science and Technology-Administration Staff in the Precision Manufacturing Industry</a></li>
				<li><a href="/assets/document/Best-Practices-4.pdf" target="_blank">Lunghwa University of Science and Technology-Industrial College of International Tourism</a></li>
				<li><a href="/assets/document/Best-Practices-5.pdf" target="_blank">Mingshin University of Science and Technology-Credit Program of Long-term Care Industry Management</a></li>
				<li><a href="/assets/document/Best-Practices-6.pdf" target="_blank">National Chin-Yi University of Technology-Talent Training Program</a></li>
				<li><a href="/assets/document/Best-Practices-7.pdf" target="_blank">National Formosa University-Mechanical Product Design and Automation</a></li>
				<li><a href="/assets/document/Best-Practices-8.pdf" target="_blank">National Kaosiung First University of Science and Technology-ASE Group with its Supply Chain</a></li>
				<li><a href="/assets/document/Best-Practices-9.pdf" target="_blank">National Kaosiung First University of Science and Technology-Precision Drivetrain Components</a></li>
				<li><a href="/assets/document/Best-Practices-10.pdf" target="_blank">National Yunlin University of Science and Technology-Leisure Industry</a></li>
				<li><a href="/assets/document/Best-Practices-11.pdf" target="_blank">Shu-Zen Junior College of Medicine and Management-Early Childhood Care</a></li>
				<li><a href="/assets/document/Best-Practices-12.pdf" target="_blank">Taoyuan Innovative Institute of Technology-Culinary Skills-Master Chef</a></li>
				<li><a href="/assets/document/Best-Practices-13.pdf" target="_blank">Taoyuan Innovative Institute of Technology-Leisure Club Management</a></li>
				<li><a href="/assets/document/Best-Practices-14.pdf" target="_blank">Yuanpei Univerisity of Medical Technology-Credit Program of Licensed Practical Nurse Training</a></li>
			</ol>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
