---
layout: default
category: Industry-Acaemia Cooperation
title: Industry School Program
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>CTE programs</h1>

			<h2>產業學院  Industry School Program</h2>
			<p>Ministry of Education encourages colleges and universities of technology and science to establish career-oriented industry-school programs that conform to industry’s requirements on labor force. It is hoped that graduates of these programs can obtain practical skills and professional knowledge deemed necessary by industry.</p>
			<p>“Industry-School Program” is a talent training program that is career-oriented and focuses on the collaboration between industry and academia. Co-designed by collaborating companies and schools, the credit or degree courses consist of practical, hands-on courses and internships that conform to collaborating companies’ requirements on technicians. Students undergo practical career training and are able to apply what they have learned to their future jobs. This type of integrative program of talent training can bridge the gap between education and industry and supply collaborating companies with qualified technicians.</p>
			<p>Overall, this program does not require schools to establish a concrete organization or institute. Instead, its significance lies in constructing a mechanism that involves both schools and industry in talent training. Industry’s requirements on technicians should be taken into account when schools are designing practical, professional courses.</p>
			<p>The fields focused in the program are Mechanical and Opto-Mechatronics, Power Electronics and Information Communication Technology, Environmental Engineering, Chemical Engineering and Material Technology, Biotechnology, Health Care, Agriculture, Business Management, Cultural and Creative Industry, Hospitality and Tourism Management.</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
