---
layout: default
category: Industry-Acaemia Cooperation
title: Industry-Academia Collaboration Programs
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>CTE programs</h1>

			<h2><a href="industry-academia-training-plan.html">產學訓專班  Industrial-Academic Cooperation Training Plan</a></h2>
			<p>The training plan aims to develop an innovative mode of cooperation between industry and academia for vocational training by consolidating resources from industry, schools, and research institutes...</p>
			<hr>

			<h2><a href="industry-school-program.html">產業學院  Industry School Program</a></h2>
			<p>Ministry of Education encourages colleges and universities of technology and science to establish career-oriented industry-school programs that conform to industry’s requirements on labor force...</p>
			<hr>

			<h2><a href="industry-academia-project.html">產學攜手合作計畫 Industrial-Academic Cooperation Project</a></h2>
			<p>The Industrial-Academic Cooperation Project integrates further education of both vocational high schools (or junior colleges) and colleges of technology and science. It also promotes...</p>
			<hr>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
