---
layout: default
category: Industry-Acaemia Cooperation
title: Industrial-Academic Cooperation Training Plan
---

<div class="content page">
	<div class="wrap">
		<div class="article">

			{% include nav/nav_page_top.html %}
			{% include nav/breadcrumbs.html %}

			<h1>CTE programs</h1>

			<h2>產學訓專班  Industrial-Academic Cooperation Training Plan</h2>
			<p>The training plan aims to develop an innovative mode of cooperation between industry and academia for vocational training by consolidating resources from industry, schools, and research institutes. The integration of such resources can reinforce the development of technical and vocational education and occupational training. With the integrated resources, the career-oriented courses and policies can further strengthen the professional knowledge and job skills of students, bolster their application capabilities, supply industry with qualified technicians, enhance the training of professionals, and improve the quality of labor force.</p>
			<h3>1. Career- and Skill-oriented Courses</h3>
			<p>Training sessions of occupational skills arranged by each department of the Workforce Development Agency, and career-oriented courses will help strengthen the professional knowledge and job skills of students.</p>
			<h3>2. Inclusion of Practical Skills</h3>
			<p>Students will be hired by collaborating companies after finishing the career training. They can still attend school in the evening and on Saturday for college credits. Their career skills and capabilities will be strengthened.</p>
			<h3>3. Professional Licenses and Competitiveness</h3>
			<p>The program not only provides students with professional training but also assists them in acquiring licenses of Class A and B Certified Technician. The ultimate goal is to minimize the gap between education and practicalities so that students can acquire hands-on experiences as a technician while simultaneously pursuing a bachelor’s degree.</p>
			<p>The fields focused in the plan are Mechanical and Opto-Mechatronics Engineering, In-dustrial Design, Refrigerating Air-Conditioning Engineering and Vehicle Engineering.</p>

			{% include nav/go_to_top.html %}

		</div>
	</div>
</div>
