<div class="header">
  <div class="wrap">
    <div class="logo"><a href="index.htm"></a></div>
    <ul class="menu">
      {% for nav in site.data.nav_main %}
        <li><a href="{{ nav.link }}">{{ nav.title }}</a>
        {% if nav.sub == null %}
        </li>
        {% else %}
          <ul>
          {% for sub in nav.sub %}
            <li><a href="{{ sub.link }}">{{ sub.title }}</a></li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
