<div class="header">
  <div class="wrap">
    <div class="logo"><a href="index.htm"></a></div>
    <ul class="menu">
      <li><a href="index.htm">Home</a></li>
      <li>
        <a href="about3.htm">About</a>
        <ul>
          <li><a href="about3.htm">Project Event</a></li>
          <li><a href="about5.htm">2018 Chinese Taipei HRDWG-EDNET Project</a></li>
          <li><a href="about1.htm">2017 Chinese Taipei HRDWG-EDNET Project</a></li>
          <li><a href="document/Handbook.pdf" target="_blank">2015 TVE Handbook</a></li>
        </ul>
      </li>
      <li>
        <a href="career4.htm">Industry-Acaemia Cooperation</a>
        <ul>
          <li><a href="career4.htm">Regional Industry-Academia Collaboration Programs</a></li>
          <li><a href="career1.htm">Industry-Academia Collaboration Programs</a></li>
          <li><a href="career2.htm">Best Practices</a></li>
          <!-- <li><a href="career3.htm">CTE facility</a></li> -->
        </ul>
      </li>
      <li>
        <a href="agenda1.htm">Activity Agenda</a>
        <ul>
          <li><a href="agenda1.htm">Taipei Forum</a></li>
          <li><a href="agenda2.htm">Venue</a></li>
          <li><a href="agenda3.htm">Tour Agenda</a></li>
        </ul>
      </li>
      <li>
        <a href="registration.htm">Registration</a>
        <ul>
          <li><a href="registration.htm">2019 Registration</a></li>
          <!--<li><a href="document/invitation_0222.pdf" target="_blank">Invitation Letter</a></li>-->
        </ul>
      </li>
      <li>
        <a href="workshop3.htm">Photo&Video Gallery</a>
        <ul>
          <li><a href="2018-photos.htm">2018 Photos</a></li>
          <li><a href="workshop3.htm">2017 Photos</a></li>
          <li><a href="workshop5.htm">2017 Event Video</a></li>
          <li><a href="workshop1.htm">2015 Photos</a></li>
          <li><a href="workshop2.htm">2015 Interviews</a></li>
        </ul>
      </li>
      <li><a href="contactus.htm">Contact Us</a></li>
    </ul>
  </div>
</div>
