{% assign category_page = site.data.nav_main | where: "title", page.category | first %}
{% if category_page.sub != null %}
<ul class="links">
  {% for sub in category_page.sub %}
    <li>
      <a href="{{ sub.link }}"
         {% if page.url == sub.link %}class="active"{% endif %}>
        {{ sub.title }}
      </a>
      {% if sub.sub != null %}
        <ul>
        {% for tier_two_sub in sub.sub %}
          <li>
            <a href="{{ tier_two_sub.link }}"
               {% if page.url == tier_two_sub.link %}class="active"{% endif %}>>
             {{ tier_two_sub.title }}
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}

