<div class="footer">
  <div class="link">
    <div class="wrap">

      <div class="link_title">
        <hr>
        <div>
          <span>LINKS</span>
        </div>
      </div>

      <div class="banner">
        <a href="http://www.apec.org/Groups/SOM-Steering-Committee-on-Economic-and-Technical-Cooperation/Working-Groups/Human-Resources-Development.aspx" target="_blank"><img src="{{ site.img_dir | absolute_url }}index_banner1.jpg"></a>
        <a href="http://english.moe.gov.tw/" target="_blank"><img src="{{ site.img_dir | absolute_url }}index_banner2.jpg"></a>
        <a href="https://www.npm.gov.tw/en/" target="_blank"><img src="{{ site.img_dir | absolute_url }}index_banner3.jpg"></a>
        <a href="http://www-en.ntut.edu.tw/bin/home.php" target="_blank"><img src="{{ site.img_dir | absolute_url }}index_banner4.jpg"></a>
        <a href="http://eng.taiwan.net.tw/" target="_blank"><img src="{{ site.img_dir | absolute_url }}index_banner5.jpg"></a>
      </div>

    </div>
  </div>
  <div class="copyright">
    <div class="wrap">
      <p>Best viewed with IE 8.0 or higher with 1024 x 768 resolution<br>Copyright &copy; Office of International Affairs, National Taipei University of Technology, All rights reserved.<br>1, Sec. 3, Zhongxiao E. Rd., Taipei 10608 Taiwan, R.O.C. (886-2) 2771-2171 #6525</p>
    </div>
  </div>
</div>
