<meta property="og:title" content="Chinese Taipei 2018 APEC"/>
<meta property="og:type" content=""/>
<meta property="og:url" content=""/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="Chinese Taipei 2018 APEC"/>
<meta property="og:description" content="Chinese Taipei 2018 APEC,APEC 2018,2018 APEC, Skills Training in Industry-Academia Collaboration in CTE: Best practices and implementation in the engineering, hospitality and innovative entrepreneurship fields, April 25 (Tue.)-April 27 (Thu.)"/>
