<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>Chinese Taipei 2018 APEC</title>
  {% include page_needs/meta_control.html %}
  {% include page_needs/meta_open_graph.html %}

  <meta name="description" content="Chinese Taipei 2018 APEC,APEC 2018,2018 APEC, Skills Training in Industry-Academia Collaboration in CTE: Best practices and implementation in the engineering, hospitality and innovative entrepreneurship fields, April 25 (Tue.)-April 27 (Thu.)">
  <meta name="keywords" content="Chinese Taipei 2018 APEC,APEC 2018,2018 APEC, Skills Training in Industry-Academia Collaboration in CTE: Best practices and implementation in the engineering, hospitality and innovative entrepreneurship fields, April 25 (Tue.)-April 27 (Thu.)">

  <link rel="image_src" href="">
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link rel="Bookmark" href="" type="image/x-icon" />

  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  {% include nav/nav_main.html %}
  {{ content }}
  {% include page_needs/page_bottom_javascripts.html %}
</body>
</html>
